*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background:url(main-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    
}
.title-holder{
    height: 100px;
    width: 50%;
    margin:0px 25%;
}
.title{
    text-align: center;
    background: linear-gradient(30deg,red,blue,red,blue,orange);
    background-clip: text;
    color: transparent;
    font-size: 40px;
    transition: all ease 5s;
    animation: intro 2s ease-in-out;
    margin: 0px 60px;
    font-family: cursive;
    filter: drop-shadow(0px 10px 8px red);
}
@keyframes intro {
    0%{
        transform: translateY(10px);
        scale: 1.1;
        border-bottom: 1px solid red;
    }
    25%{
        transform: translateY(20px);
        scale: 1.2;
        border-bottom: 2px solid red;
    }
    50%{
        transform: translateY(30px);
        scale: 1.3;
        border-bottom: 3px solid red;
    }
    75%{
        transform: translateY(40px);
        scale: 1.4;
        border-bottom: 4px solid red;
    }
    100%{
        translate: 0px;
        scale: 1;
    }
    
}
.content-container{
   display: flex;
    flex:1 200px
}
.left-side{
    width: 60%;
    border: none;
}
.left-side>img{
    width: 100%;
    object-fit: cover;
    mix-blend-mode:hard-light;
    border-top-right-radius: 10px;
}
.right-side{
    width: 38%;
    margin:0px 2%;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px red;
    color: rgb(71, 225, 233);
    transition: all ease 2s;
}
.survey-title{
    text-align: center;
    opacity: 1.5;
}
.inside-right-side{
    margin: 0px 5%;
    height: 92.5%;
    box-shadow: 0px 0px 20px white;
    border-radius: 10px;
    padding: 20px 20px;
}
.input{
    height: 50%;
    width: 98%;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px 0px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}
.input::placeholder{
    color: rgb(71, 225, 233);
    font-size: 15px;
}
.Sukuna{
    line-height: 20px;
    margin:10px 0px;
}
input[type="radio"]{
    margin:5px 0px;
    cursor: pointer;
}
#text1{
    width: 443px;
    height: 200px;
    resize:none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
}
#text2{
    border-radius: 10px;
    width: 443px;
    height: 50px;
    resize:none;
    margin-top: 10px;
    background-color: transparent;
    font-size: 20px;
    color: whitesmoke;
}
textarea::placeholder{
    padding: 10px;
    font-size: 15px;
    color: rgb(71, 225, 233);
}
#submit{
    margin-top: 10px;
    background-color: transparent;
    border:1px solid white;
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(71, 225, 233);
    border-radius: 4px;
    cursor: pointer;
    
}
#submit:hover{
    background-color: white;
    color: black;
    transition: all ease-in-out 0.5s;
}